@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Solway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Solway&display=swap');

body {
  background-color: #e7ac0f;
}

header#cabecalho {
  background-color: #b0170a;
	display: block;
	margin: auto;
	width: 88vw;
	height: 125px;
  padding: 20px;
}

header#cabecalho#conteudo figure#logo{
  position: relative;
  margin-left:  30px;
  margin-top: -17px;
}

header#cabecalho#conteudo h1 {
	position: relative;
  margin: auto;
	text-align: center;
	font-size: 40pt;
  font-family: 'Bebas Neue', cursive;
}

header#cabecalho#conteudo h2 {
	position: relative;
  margin: auto;
	text-align: center;
	font-size: 30px;
  font-family: 'Bebas Neue', cursive;
}

div#Interface {
	width: 90vw;
  height: 90vw;
	margin: 40px auto;
	padding: 10px;
  background-color: #b0170a;
}
div#pedido {
  border: 1px solid white;
}
footer#Rodape {
	clear: both;
	/*border-top: 1px solid white;*/
	width: 90vw;
	margin: auto;
}

footer#Rodape p {
	text-align: center;
	}

footer#Rodape a {
	color: black;
}
